<div class="main-container">
<div class="list-employee">
  <button (click)="goToListEmployee()" class="btn add">Lista de Empleado</button>
</div>
<div class="add-employee-container">
    <h2>Agregar Empleado</h2>
    <form (ngSubmit)="addEmployee()">
      <div class="form-group">
        <label for="nombre">Nombre del Usuario</label>
        <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido del Usuario</label>
        <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" required>
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" id="email" [(ngModel)]="username" name="Username" required>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required>
      </div>
      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" [(ngModel)]="telefono" name="telefono">
      </div>
      <div class="form-group">
        <label for="departamento">Departamento</label> 
        <select id="departamento" [(ngModel)]="idDepartamento" name="idDepartamento" required>
          <option value=1>IT</option>
          <option value=2>VENTAS</option>
          <option value=3>COMPRAS</option>
          <option value=4>PROYECTOS</option>
        </select>
      </div>
      <div class="form-group">
        <label for="horario">Turno de Horario</label>
        <select id="horario" [(ngModel)]="idHorario" name="idHorario" required>
          <option [value]=1>08:00 - 17:00</option>
          <option [value]=2>07:30 - 16:30</option>
        </select>
      </div>
      <button type="submit" class="btn">Agregar Empleado</button>
    </form>
  </div>
</div>