<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Perfil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Marcaje</a></li>
                    <li class="breadcrumb-item active">Perfil</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <pf-image
                                class="profile-image"
                                [rounded]="true"
                                [src]="user.photoURL"
                                fallbackSrc="assets/img/default-profile.png"
                                alt="User profile"
                                width="100"
                                height="100"
                            />
                        </div>
                        <h3 class="profile-username text-center"> {{ user?.displayName }} </h3>
                        <p class="text-muted text-center">Ingeniero de Software</p>
                        <a href="#" class="btn btn-primary btn-block" ><b>Seguir</b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <pf-button class="tab-button" [variant]=" (activeTab$ | async) === 'SETTINGS' ? 'primary' : 'light' " (click)="toggle('SETTINGS')">Configuracion</pf-button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <app-settings-tab *ngIf="(activeTab$ | async) === 'SETTINGS'" ></app-settings-tab>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
