<div class="tracking-container">
    <h2>Tracking para el empleado, {{ getDisplayName() }}</h2>
    <p>{{ mensajeMarcaje }}</p>
    <div class="time-display">
      <p>Hora actual: {{ currentTime }}</p>
    </div>
    <div class="buttons-container">
      <button (click)="registrarEntrada()"  class="btn btn-success">Registrar Entrada</button>
      <button (click)="registrarSalida()" [disabled]="registrarSalidaDisabled" class="btn btn-warning">Registrar Salida</button>
    </div>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    El usuario no tiene Salida Pendiente
  </div>
  <div *ngIf="sesionInfo">
    <h3>Detalles de la Sesión Finalizada</h3>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Hora de Inicio</th>
          <th>Hora de Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ sesionInfo.empleado.username }}</td>
          <td>{{ sesionInfo.empleado.email }}</td>
          <td>{{ sesionInfo.inicio | date:'short' }}</td>
          <td>{{ sesionInfo.fin | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  