<div class="employee-list">
    <h2>Lista de Empleados</h2>
    <div class="add-employee">
      <button (click)="goToAddEmployee()" class="btn add">Agregar Empleado</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Horario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of empleados">
          <td>{{ employee.idUsuario }}</td>
          <td>{{ employee.nombre }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.idHorario === 1 ? '08:00 - 17:00' : '07:30 - 16:30' }}</td>
          <td class="actions-cell">  
            <div class="actions">
            <button (click)="editEmployee(employee.idUsuario)" class="btn edit">Edit</button>
            <!-- <button (click)="marcarTracking(employee.id)" class="btn tracking">Marcar Tracking</button> -->
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  